<h1 align="center">HELLO, DOG LOVERS</h1>

<div id="aboutUsDescription" >
	<p>We are a group of dog lovers that wanted to create a community of people that could help each other out.</p>
	<p>It may have started that way but now we are a full community that both offers and needs help. With each job you accept or offer you are helping a fellow dog person. So please post away and lets give our dogs the best lives they can have!</p>
</div>
