<button id="offer" type="button" onclick="location.href='/offer_job';">I have a job to offer</button>
<button id="need" type="button" onclick="location.href='/accept_job';">I would like a job</button>

<div class="card">
  <img class="card-img-top" src="images/pic4.jpg" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Need your dog walked? Or love walking dogs?</p>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="images/pic5.jpg" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">All dogs need to be cleaned up after.</p>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="images/pic6.jpg" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Dogs need training. If you don't have time people near you will help.</p>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="images/pic7.jpg" alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Going on vacation? Temporary homes are available.</p>
  </div>
</div>
