<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>people that look like their dogs</title>
	<script src="js/teather.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<a class="navbar-brand" href="#">People & Their Dogs</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pictures">Pictures</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.google.com/search?q=dog+ideas&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiNtJLQ_9TUAhVD8WMKHSLLAkMQ_AUICigB&biw=1321&bih=789">Dog Ideas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about_us">About Us</a>
				</li>
			</ul>
		</div>
	</nav>
	<%= yield %>
</body>
</html>