<h3 id="jobOffer" align="center">It's a busy world out there. Tell us about the job that you would like help with</h3>

<div id="dropdown" class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="offerdropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    What job would you like to post?
  </a>

  <div id="offerDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/housing_offer">Housing</a>
    <a class="dropdown-item" href="/socializing_offer">Socializing</a>
    <a class="dropdown-item" href="/training_offer">Training</a>
    <a class="dropdown-item" href="/walking_offer">Walking</a>
    <a class="dropdown-item" href="/cleaning_offer">Yard Cleaning</a>
  </div>
</div>

<div id="offerPic">
  <img src="images/pic8.jpg" id="pic8" >
</div>