<h1 id="walkOfferHead" align="center">Training your dog is hard... let's see if we can't find someone to help</h1>

<h3>First we need to know a little about you...</h3>

<div id="offerInput">
	<form action="/new_user" method="post">
		First name:<br>
		<input type="text" name="firstname"><br>
		Last name:<br>
		<input type="text" name="lastname"><br>
		User name:<br>
		<input type="text" name="username"><br>
		Password:<br>
		<input type="password" name="password"><br>
		Confirm Password:<br>
		<input type="password" name="confirmPassword"><br>
		Email:<br>
		<input type="text" name="email"><br>
		<input id="offerInputAccptBtn" type="submit" value="Submit">
	</form>
</div>